# Google OAuth - get your Client ID from https://console.cloud.google.com
# Set Authorized JS Origins to: http://localhost:3000
# Set Authorized redirect URIs to: http://localhost:3000
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here
